echo "New shell, new opportunities!"

source "{{ zsh_config_dir }}/zshrc_omz"
source "{{ zsh_config_dir }}/zshrc_theme"
source "{{ zsh_config_dir }}/zshrc_settings"
source "{{ zsh_config_dir }}/zshrc_aliases"
source "{{ zsh_config_dir }}/zshrc_zprofile"
