[global_config]
[keybindings]
  layout_launcher = <Primary><Shift><Alt>l
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#2b303b"
    background_image = None
    cursor_shape = underline
    foreground_color = "#c0c5ce"
    icon_bell = False
    palette = "#2b303b:#bf616a:#a3be8c:#ebcb8b:#8fa1b3:#b48ead:#96b5b4:#c0c5ce:#65737e:#bf616a:#a3be8c:#ebcb8b:#8fa1b3:#b48ead:#96b5b4:#eff1f5"
    scrollback_infinite = True
    scrollbar_position = hidden
    show_titlebar = False
  [[dark_mocha]]
    palette = "#3b3228:#cb6077:#beb55b:#f4bc87:#8ab3b5:#a89bb9:#7bbda4:#d0c8c6:#7e705a:#cb6077:#beb55b:#f4bc87:#8ab3b5:#a89bb9:#7bbda4:#f5eeeb"
    foreground_color = "#d0c8c6"
    background_color = "#3b3228"
    cursor_color = "#d0c8c6"
    cursor_shape = underline
    icon_bell = False
    scrollback_infinite = True
    scrollbar_position = hidden
    show_titlebar = False
 [[bright_solarized]]
    background_color = "#fdf6e3"
    background_image = None
    cursor_shape = underline
    foreground_color = "#657b83"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_infinite = True
    scrollbar_position = hidden
    show_titlebar = False
