- name: Install/activate gitui via mise (global)
  command: "{{ ansible_env.HOME }}/.local/bin/mise use -g gitui"
  register: mise_gitui
  changed_when: "'installed' in (mise_gitui.stdout | lower) or 'installed' in (mise_gitui.stderr | lower)"
