- name: Configure Ubuntu workstation
  hosts: ubuntu
  gather_facts: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
    ansible_become_exe: sudo
  pre_tasks:
    - name: Detect dzdo and prefer it if sudo not present
      stat:
        path: /usr/bin/sudo
      register: sudo_bin

    - name: If dzdo is present, use it
      set_fact:
        ansible_become_exe: dzdo
      when: not sudo_bin.stat.exists

  roles:
    # Basic tools and config
    - bash
    - git
    # ASDF
    # NOTE: Most tools where the version matters should be installed using ASDF:
    # Examples:
    #  - kubectl
    #  - kustomize
    #  - yq
    #  - opentofu
    #  See ASDF role for the plugins used.
    - asdf
    # Small things
    - gitui
    - ripgrep
    - eza
    - delta
    - bat
    - fd
    # Applications
    # NOTE: I have pyright in my neovim config and it requires nodejs.
    # Install nodejs using ASDF and then run: nvim --headless "+MasonInstall pyright" +qa
    - neovim
    - ghostty
    # Applications from apt
    - apt_pkgs
    - upgrade

