- name: Configure Ubuntu workstation
  hosts: ubuntu
  gather_facts: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
    ansible_become_exe: sudo
  pre_tasks:
    - name: Detect dzdo and prefer it if sudo not present
      stat:
        path: /usr/bin/sudo
      register: sudo_bin

    - name: If dzdo is present, use it
      set_fact:
        ansible_become_exe: dzdo
      when: not sudo_bin.stat.exists

  roles:
    # Basic tools and config
    - bash
    - bat
    - delta
    - eza
    - fd
    - git
    - role: ghostty
      tags: [ghostty]
    - neovim
    # Managed via mise | If you don't have mise, these will fail.
    - gitui
    - kubectl
    - kustomize
    - nodejs
    - opentofu
    - ripgrep
    - talosctl
    - tree-sitter
    - yq
    # Applications from apt
    - role: apt_pkgs
      tags: [apt]
    - role: upgrade
      tags: [apt]

